<a href="https://colab.research.google.com/github/justoneye/Bootcamp-IA-G84/blob/main/Semana4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
'''
Manejo de fuciones con las librerías Pandas y NumPy
'''

import pandas as pd
import numpy as np

# Comando para instalar Pandas: pip install pandas


# Carga de archivo localmente (en Google Colab)

df = pd.read_excel('/content/DIVIPOLA_Departamentos.xlsx',skiprows=9)
df

,Código,Nombre,LATITUD,LONGITUD
0,05,ANTIOQUIA,"6,702032125","-75,504557037"
1,08,ATLÁNTICO,"10,677009534","-74,965219492"
2,11,"BOGOTÁ, D.C.","4,316107698","-74,181072702"
3,13,BOLÍVAR,"8,079796863","-74,235148136"
4,15,BOYACÁ,"5,891672889","-72,627880544"
5,17,CALDAS,"5,280139978","-75,274983037"
6,18,CAQUETÁ,"0,798556195","-73,959467561"
7,19,CAUCA,"2,396833887","-76,824232828"
8,20,CESAR,"9,53665993","-73,517831544"
9,23,CÓRDOBA,"8,358549754","-75,792008718"
10,25,CUNDINAMARCA,"4,771120716","-74,431110916"
11,27,CHOCÓ,"5,397581542","-76,942811002"
12,41,HUILA,"2,570143029","-75,584348363"
13,44,LA GUAJIRA,"11,476870077","-72,429510724"
14,47,MAGDALENA,"10,24738355","-74,26175733"
15,50,META,"3,345562732","-72,95645988"
16,52,NARIÑO,"1,571094987","-77,87020496"
17,54,NORTE DE SANTANDER,"8,09513751","-72,881882969"
18,63,QUINDÍO,"4,455241567","-75,689628528"
19,66,RISARALDA,"5,240757239","-76,002444694"
20,68,SANTANDER,"6,693633184","-73,486008938"
21,70,SUCRE,"9,064941448","-75,109817552"
22,73,TOLIMA,"4,03477252","-75,255827095"
23,76,VALLE DEL CAUCA,"3,569858693","-76,62850427"
24,81,ARAUCA,"6,569577215","-70,967323937"
25,85,CASANARE,"5,404064237","-71,601880726"
26,86,PUTUMAYO,"0,3673031","-75,514061833"
27,88,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...","12,543115116","-81,717623824"
28,91,AMAZONAS,"-1,54622768","-71,502128578"
29,94,GUAINÍA,"2,727842865","-68,816612721"
30,95,GUAVIARE,"1,924531973","-72,128595691"
31,97,VAUPÉS,"0,64624561","-70,561405657"
32,99,VICHADA,"4,713557125","-69,41400011"
33,NaN,NaN,NaN,NaN
34,Fuente: DANE.,NaN,NaN,NaN
35,Nota: En la actualidad el país se compone de 3...,NaN,NaN,NaN
36,Actualizado al 30 de junio de 2025,NaN,NaN,NaN

In [6]:
df = pd.read_csv('/content/tips.csv')
df

# Leer las primeras 5 líneas
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
'''
EJERCICIO: Leer los primeros 10, 20 y 50 registros.
- ¿Cómo leer los últimos 10, 20 y 50 registros?
'''

df.head(10)
df.head(20)
df.head(50)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
15       21.58  3.92    Male     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3
20       17.92  4.08    Male     No  Sat  Dinner     2
21       20.29  2.75  Female     No  Sat  Dinner     2
22       15.77  2.23  Female     No  Sat  Dinner     2
23       39.42  7.58    Male     No  Sat  Dinner     4
24       19.82  3.18    Male     No  Sat  Dinner     2
25       17.81  2.34    Male     No  Sat  Dinner     4
26       13.37  2.00    Male     No  Sat  Dinner     2
27       12.69  2.00    Male     No  Sat  Dinner     2
28       21.70  4.30    Male     No  Sat  Dinner     2
29       19.65  3.00  Female     No  Sat  Dinner     2
30        9.55  1.45    Male     No  Sat  Dinner     2
31       18.35  2.50    Male     No  Sat  Dinner     4
32       15.06  3.00  Female     No  Sat  Dinner     2
33       20.69  2.45  Female     No  Sat  Dinner     4
34       17.78  3.27    Male     No  Sat  Dinner     2
35       24.06  3.60    Male     No  Sat  Dinner     3
36       16.31  2.00    Male     No  Sat  Dinner     3
37       16.93  3.07  Female     No  Sat  Dinner     3
38       18.69  2.31    Male     No  Sat  Dinner     3
39       31.27  5.00    Male     No  Sat  Dinner     3
40       16.04  2.24    Male     No  Sat  Dinner     3
41       17.46  2.54    Male     No  Sun  Dinner     2
42       13.94  3.06    Male     No  Sun  Dinner     2
43        9.68  1.32    Male     No  Sun  Dinner     2
44       30.40  5.60    Male     No  Sun  Dinner     4
45       18.29  3.00    Male     No  Sun  Dinner     2
46       22.23  5.00    Male     No  Sun  Dinner     2
47       32.40  6.00    Male     No  Sun  Dinner     4
48       28.55  2.05    Male     No  Sun  Dinner     3
49       18.04  3.00    Male     No  Sun  Dinner     2

In [11]:
'''
EJERCICIO: Leer los últimos 10, 20 y 50 registros
'''

df.tail(10)
df.tail(20)
df.tail(50)

     total_bill   tip     sex smoker   day    time  size
194       16.58  4.00    Male    Yes  Thur   Lunch     2
195        7.56  1.44    Male     No  Thur   Lunch     2
196       10.34  2.00    Male    Yes  Thur   Lunch     2
197       43.11  5.00  Female    Yes  Thur   Lunch     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
199       13.51  2.00    Male    Yes  Thur   Lunch     2
200       18.71  4.00    Male    Yes  Thur   Lunch     3
201       12.74  2.01  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
203       16.40  2.50  Female    Yes  Thur   Lunch     2
204       20.53  4.00    Male    Yes  Thur   Lunch     4
205       16.47  3.23  Female    Yes  Thur   Lunch     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2